*{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    /* grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 10rem 1rem 1px; */
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 5rem; */
    gap: 1rem;
    column-gap: 10rem;
    row-gap: 5rem;
    text-align: center;
    border: 1px solid black;
}

.grid div{
    background-color: beige;
    padding: 1rem;
    border: 1px solid black;
}

.grid div:hover{
    background-color: yellow;
}

.bulet{
    margin: 1rem;
    padding: 1rem;
    background-color: rosybrown;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 50%;
    animation: muter 1s infinite alternate;
}

@keyframes muter {
    from{
        transform: rotate(0deg);
        transform: scale(1);
        background-color: yellow;
    }
    to{
        transform: rotate(180deg);
        transform: scale(2);
        background-color: rgb(74, 74, 194);
    }
}

@media only screen and (max-width: 376px) {
    .bulet{
        position: absolute;
        top: 70%;
        left: 40%;
    }
}

@media only screen and (max-width: 769px) {
    .bulet{
        position: absolute;
        top: 50%;
        left: 30%;
    }
}